* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

#import {
    width: 250px;
}

.form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-inline: 3em;
}

textarea {
    flex-shrink: 1;
    height: 200px;
    max-width: 100%;
    margin-top: 0.4em;
    margin-bottom: 1em;
}

button {
    margin-top: 1em;
    display: block;
    width: 100%;
}